node_modules
.DS_Store
dist
dist-ssr
*.local
*.log
*.tsbuildinfo
.env*

# Frameworks
.nitro
.tanstack
.cta.json
.wrangler
.next
.nuxt
.output
.vercel
.turbo

# Testing
coverage

# Cache
.eslintcache

# AI
.claude
.cursor
.copilot
.codeium
.serena
