node_modules
.DS_Store
.env*
!.env.example
dist
dist-ssr
*.local
*.log
*.tsbuildinfo

# Frameworks
.nitro
.tanstack
.cta.json
.wrangler
.next
.nuxt
.output
.vercel
.turbo

# Testing
coverage

# Cache
.eslintcache

# AI
.claude
.cursor
.copilot
.codeium
.serena
openapi.yaml
type.d.ts
