@import '@fontsource/pretendard/400.css';
@import '@fontsource/pretendard/500.css';
@import '@fontsource/pretendard/600.css';

@font-face {
  font-family: 'Isamanru';
  src:
    local('esamanru Medium'),
    url('/fonts/esamanru-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
