@import '@fontsource/pretendard/400.css';
@import '@fontsource/pretendard/500.css';
@import '@fontsource/pretendard/600.css';

@font-face {
  font-family: 'Isamanru';
  src:
    local('esamanru Medium'),
    url('/fonts/esamanru-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
