@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
  font-family: 'Isamanru';
  src:
    local('esamanru Medium'),
    url('/fonts/esamanru-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
